.paper {
  width: 90vw;
  margin: 20px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paperFiller {
  margin-top: 10px;
  margin-bottom: 10px;
}

#profile {
  border-radius: 20px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}

#profile-img-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

#profile-img {
  border-radius: 20%;
  max-width: 30%;
  margin: 3%;
  border: solid white 0.1em;
  height: auto;
}

#nameWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

#fullName {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  margin-bottom: 0.5em;
}

#editProfile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#profile-about-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

#profile-about {
  background-color: lightsteelblue;
  border-radius: 20px;
  padding: 3px;
  border: white solid 0.2em;
  margin: 1em;
  width: 90%;
  overflow-wrap: "break-word";
}
