/* #paper {
  border: solid;
} */

/* #paperContentFiller {
  border: solid green;
  width: 100%;
  height: 100%;
} */

#createTitle {
  margin-bottom: 0.5em;
}

#formWrap {
  /* border: solid; */
  margin-left: 0px;
  display: flex;
  flex-direction: column;
}

#submitBtnWrapper {
  /* border: solid; */
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* const [createData, setCreateData] = useState({
  trigger: false,
  name: "",
  description: "",
  picture: "",
  start: new Date(),
  end: new Date()
}); */
