.homeParent {
  /* border: solid green; */
  position: relative;
  top: 0px;
  /* height: 50vh; */
  width: 100%;
  /* overflow: auto; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}

.homeChildWrapper {
  height: 100%;
  /* border: solid red; */
}

#eventCategoryBtns {
  margin-top: 0px;
  /* border: solid green; */
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 8%;
  width: 650px;
}

.homeChild {
  /* border: solid black 10px; */
  height: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-y: auto;
}

.homeSearched {
  height: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
}

.searchBoxWrapper {
  position: absolute;
  z-index: 2000;
  /* top: 2vh; */
  width: 100%;
  /* display: inline-block; */
  /* border: solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.searchBoxWrapperAssist {
  width: 90%;
}

.searchResult {
  overflow: auto;
  height: 82vh;
  bottom: 1vh;
  position: absolute;
  margin-top: 80px;
  z-index: 1000;
  display: inline-block;
}
